[package]
name = "ndk-build"
version = "0.4.1"
authors = ["The Rust Windowing contributors"]
edition = "2018"
description = "Utilities for building Android binaries"
license = "MIT OR Apache-2.0"
keywords = ["android", "ndk", "apk"]
documentation = "https://docs.rs/android-build-tools"
homepage = "https://github.com/rust-windowing/android-ndk-rs"
repository = "https://github.com/rust-windowing/android-ndk-rs"

[dependencies]
dirs = "3.0.1"
dunce = "1.0.1"
serde = { version = "1.0.123", features = ["derive"] }
quick-xml = { version = "0.20.0", features = ["serialize"] }
thiserror = "1.0.23"
which = "4.0.2"
