[package]
name = "cargo-apk"
version = "0.8.2"
authors = ["The Rust Windowing contributors"]
edition = "2018"
description = "Helps cargo build APKs"
license = "MIT OR Apache-2.0"
keywords = ["android", "ndk", "apk"]
documentation = "https://docs.rs/cargo-apk"
homepage = "https://github.com/rust-windowing/android-ndk-rs"
repository = "https://github.com/rust-windowing/android-ndk-rs"

[dependencies]
anyhow = "1.0.38"
cargo-subcommand = "0.5.0"
dunce = "1.0.1"
env_logger = "0.8.2"
log = "0.4.14"
ndk-build = { path = "../ndk-build", version = "0.4.3" }
serde = "1.0.123"
thiserror = "1.0.23"
toml = "0.5.8"
