name: Publish

on:
  push:
    branches: [master]
    paths: "**/Cargo.toml"

jobs:
  Publish:
    if: github.repository_owner == 'rust-mobile'
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1 # ensure crate order
      fail-fast: false
      matrix:
        crate:
          - { name: "ndk-sys", target: "armv7-linux-androideabi" }
          - { name: "ndk", target: "armv7-linux-androideabi" }
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.crate.target }}
      - name: Publish ${{ matrix.crate.name }}
        continue-on-error: true
        run: cargo publish --manifest-path ${{ matrix.crate.name }}/Cargo.toml --target ${{ matrix.crate.target }} --token ${{ secrets.cratesio_token }}
